**Preparing Mexico Data**

In [1]:
#importing the pandas library
import pandas as pd

**Task 1.2.1:** Read these three files into three seperate DataFrames named df1, df2, and df3, respectively.

In [2]:
# added the encoding = 'latin-1', because of 'UnicodeDecodeError'
df1 = (pd.read_csv('mexico-real-estate-1.csv', 
                   encoding = 'latin-1'))
df2 = (pd.read_csv('mexico-real-estate-2.csv', 
                   encoding = 'latin-1'))
df3 = (pd.read_csv('mexico-real-estate-3.csv',
                   encoding = 'latin-1'))

**Clean df1**

**Task 1.2.2:** Inspect df1 by looking at its shape attribute. Then use the info method to see the data types and number of missing values for each column. Finally, use the head method to look at the first five rows of your dataset.
- Inspect a DataFrame using the shape, info and head in pandas.

In [3]:
df1.shape

(700, 7)

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     700 non-null    int64
 1   property_type  700 non-null    object
 2   state          700 non-null    object
 3   lat            583 non-null    float64
 4   lon            583 non-null    float64
 5   area_m2        700 non-null    int64
 6   price_usd      700 non-null    object
dtypes: float64(2), int64(2), object(3)
memory usage: 38.4+ KB

In [4]:
df1.head()

,Unnamed: 0,property_type,state,lat,lon,area_m2,price_usd
0,1,house,Estado de México,19.560181,-99.233528,150,"$67,965.56"
1,2,house,Nuevo León,25.688436,-100.198807,186,"$63,223.78"
2,3,apartment,Guerrero,16.767704,-99.764383,82,"$84,298.37"
3,4,apartment,Guerrero,16.829782,-99.911012,150,"$94,308.80"
4,5,house,Veracruz de Ignacio de la Llave,NaN,NaN,175,"$94,835.67"

There are a couple of problems in this DataFrame that need solving.
- An unnamed column serving as an index 
- There are many rows with NaN values in the "lat" and "lon" columns. 
- The data type for the "price_usd" column is object when it should be float.

In [5]:
# Removing the 'Unnamed: 0' column 
df1.drop(columns = ['Unnamed: 0'], inplace = True)

#Removing Nan values
df1.dropna(inplace = True)

df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 583 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  583 non-null    object
 1   state          583 non-null    object
 2   lat            583 non-null    float64
 3   lon            583 non-null    float64
 4   area_m2        583 non-null    int64
 5   price_usd      583 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 31.9+ KB